*
{
    box-sizing: border-box;
}
body{
    background-color: #001422;
    min-height: 100vh;
     display: flex;
     justify-content: center;
     align-items: center;
}
.circle
{
   
  position: absolute;
  border-radius: 50%;
}
#circle-1
{
    width: 120px;
    height: 120px;
     background-image: radial-gradient(
    69.62% 69.62% at 50% 50%,
    #ea8bfa 0%,
    #7526f5 100%
  );
   top: 35px;
   left: 335px;



}
#circle-2
{
    width: 230px;
    height: 230px;
    background-image: radial-gradient(
    63.76% 63.76% at 50% 50%,
    #ff00c7 0%,
    #bd95ff 0.01%,
    #a661ff 32.29%,
    #6100ff 98.59%
  );
  top: 456px;
  left: 212px;


}
#circle-3
{
    width: 330px;
    height: 330px;
 background-image: radial-gradient(
    67.47% 67.47% at 50% 50%,
    #fed0ff 0%,
    #7f00ff 100%
  );
  top: 25px;
  left: 714px;
     
}
.card
{
    width: 400px;
    height: 500px;
    background-image: linear-gradient(
    148deg,
    rgba(255, 255, 255, 0.4) 0%,
    rgba(255, 255, 255, 0.1) 100%
  );
  backdrop-filter: blur(10px);
  position: relative;
}