* {
    box-sizing: border-box;
}


body {
    margin: 0px;
    background-color: #1F1F1F;
}

.container {
    min-height: 65vh;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.img-do {
    width: 100%;
    max-width: 450px;

}

.search-bar {
    width: 100%;
    max-width: 550px;

    border: 2px solid #5F6368;
    border-radius: 52px;

    background-color: #1F1F1F;
    display: flex;
    align-items: center;
    padding: 0px 24px;
    margin-top: 18px;
}

.search-bar:hover {
    background-color: #303134;
    border-color: #303134;
    box-shadow: 0px 0px 4px 2px #1F2022;

}

.search-bar:focus-within {
    background-color: #303134;
    border-color: #303134;
    box-shadow: 0px 0px 4px 2px #1F2022;

}

.search-bar-input {
    background-color: transparent;
    border: none;
    outline: none;
    color: white;
    width: 100%;
    padding: 13px;
    font-size: 20px;
    font-family: 'Roboto';
}

.search-img-icon
 {
    width: 28px;

}

/* shapes-img */
.doodle-content {
    position: fixed;
    right: 32px;
    bottom: 0px;
}
/* media quere */
@media (max-width:500px) {
.img-do {
        width: 100%;
        max-width: 250px;
}
.search-bar {
        width: 100%;
        max-width: 350px;
    }
.doodle-content {
        display: none;
    }

}