body{
    min-height: 100vh;
    padding: 0px;
    margin: 0px;
    box-sizing: border-box;
    background-color:#D5E1EF;
}

.card
{
    width: 100%;
    width: 300px;
    height: 500px;
    background-color: #FFFFFF;
    position:fixed;
    margin: auto;
    inset: 0px;
    padding: 1rem;
    border-radius: 16px;
    box-shadow:6px 9px 3px rgb(90, 86, 86);

}
.card-img
{
    width: 100%;
    max-width: 400px;
    border-radius: 10px;
}
.card-content 
{
    font-family: 'Outfit';
    font-size: 1.5rem;
    text-align: center;
    color:#304365;
    font-weight: 700;
}
.card-content-para
{
    
    color: rgb(43, 34, 34);
    text-align: center;
    font-size:17px;
    font-family: 'Outfit';
    font-weight: 400;
    line-height: 1.5rem;
    opacity: 0.4;
}